// Rename to config.js prior to executing....

module.exports = {
   mongodb: 			'mongodb://<user>:<password>@<address>:<port>/<db>'
   destinationCollection: 	'<collection>'
   boundingBox: 		'<latitude>,<longitude>'
   radius: 			'<radius>'
   pagesToReturn: 		'<pagesToReturn>
   searchPhrase:		'<escaped search string>'  /*food%20poison*/
}
